html,
body {
    height: 100%;
    width: 100%;
    background: url(https://miro.medium.com/max/15904/1*Sv8bS5VBt3gJ9e9yJZl5RA.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top_half {
    width: 100%;
    padding: 5% 5%;
}

#main_temp {
    font-weight: 500;
}

.info {
    margin-left: 5%;
    margin-top: 0;
    font-size: x-large;
    color: #fff;
}

.search_bar {
    margin-top: 2.5%;
    margin-left: 7%;
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}

input[type="text"] {
    background: transparent;
    width: 340px;
    height: 50px;
    border: 2px solid #fff;
    border-right: 3px solid #fff;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    color: #fff;
}

input::placeholder {
    color: #fff;
}

input[type="submit"] {
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #1DB954;
    color: #191414;
    font-weight: bold;
}

.week_table {
    border: 1px solid #1DB954;
    background: #1A1C2B;
    color: #fff;
    width: 50%;
    height: 100%;
    border-collapse: collapse;
    float: right;
}

.week_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1DB954;
    color: #191414;
}

.week_table td,
th {
    border: 1px solid #000;
    padding: 8px;
}

.week_table tr:nth-child(even) {
    background-color: #393f4d;
}

.tabgraph {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

#background {
    align-content: center;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    /*background: rgb(115, 206, 226);
    background: rgb(29,30,34);*/
    /*background: linear-gradient(0deg, rgba(29,30,34,1) 0%, rgba(57,63,77,1) 100%);*/
    /*background: url(https://images.wallpapersden.com/image/download/anime-girl-in-sunny-weather_a2ltaWiUmZqaraWkpJRnamtlrWZlbWU.jpg);*/
    /*background: linear-gradient(5deg, rgba(115, 206, 226, 1) 1%, rgba(189, 189, 189, 1) 21%, rgba(0, 212, 255, 0.8743872549019608) 97%);*/
    height: 100%;
}

#next_week {
    text-align: center;
    align-items: center;
    table-layout: auto;
}


/* Goes from zero to full opacity */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.day_tabs {
    height: 100%;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: none;
    background-color: transparent;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    width: calc(100%/7);
    float: left;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-weight: bold;
    color: #fff;
    font-size: large;
}


/* Style the tab content */

.tabcontent {
    font-family: 'Varela Round', sans-serif;
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    background-color: rgba(26, 28, 43, 0.9);
    height: 100%;
    color: #fff;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    border-top: none;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #958EA6;
    font-weight: bold;
    color: #000;
    border-bottom: #958EA6;
}


/* Create an active/current tablink class */

.tab button.active {
    color: #fff;
    background-color: rgba(26, 28, 43, 0.9);
}

.tab {
    position: relative;
}

.tab:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.tab:before {
    z-index: 1;
}

.tab button {
    position: relative;
    z-index: 0;
}

.tab button.active {
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom-color: rgba(26, 28, 43, 0.9);
}

.tablinks #defaultOpen {
    border-left: none;
}

.right {
    border-right: none;
}